*{
padding: 0%;
margin: 0%;
box-sizing: border-box;
}
body {
background-color: white;
width: 100%;
position: relative;
height: 100%;
}
nav.mainnav {
    width: 100%;
    background: black;
    height: 30px;

}
nav.mainnav ul.left-ul {
    float: left;
    list-style-type: none;
}
ul.right-ul {
    float: right;
}

nav.mainnav li {
    display: inline;
}

nav.mainnav a {
    padding: 6px;
    text-decoration: none;
    color: #d6caca;
    display: inline-block;

}
nav.mainnav a:hover{
    color: white;
}
.headerdiv {
    width: 100%;
    color: #00aef1;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(white, black);
    /* background: url(img/28.jpg); */
    background-repeat: round;
    height: 290px;
    position: relative;
    padding-top: 40px;
}
.logo {
    width: 60px;
    height: 60px;
    overflow: hidden;
    position: absolute;
    left: 15px;
    top: 15px;
}

.logo img {
    width: 100%;
    height: 100%;

}

.headerdiv h3{
    padding: 10px;
}
.headerdiv form {
    /* background: #e1a80173; */
    width: 100%;
 margin-bottom: 20px;
    overflow: hidden;   height: 45px;
}
.headerdiv select#Category {
    width: 145px;
    height: 46px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    
}
.headerdiv input{
    width: 50%;
    max-width: 330px;
}
.headerdiv input, .headerdiv button{
    height: 51px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 4px;
    margin-left: -6px;
    
}
.headerdiv button{
    cursor: pointer;
    background: #00c6ff;
    color: white;
    font-weight: bold;
}

.briefing {
    width: 100%;
    height: 40px;
    background: #00aef1;
    color: white;
    text-align: center;
    font-size: 25px;
    position: relative;
    overflow: hidden;
}

.briefing span {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 99999;
    background: #00aef1;
    height: 100%;
    font-weight: bold;
    padding: 4px;
}


.container img {
    width: 100%;
    height: auto;
}

.ex p {
    font-weight: bold;
    color: white;
}

.container{
    display: grid;
    
 /* grid-template-rows: 200px 200px 200px ; */
    margin: 0 auto;
}

.container .div{
    background-color: #bfbfbf;
    margin: 10px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

@media (max-width: 450px) {
    .container{
        grid-template-columns:100%;
    }



}

@media (min-width: 600px) {
    .container{
        grid-template-columns:50% 50%;
    }
}

@media (min-width: 800px) {
    .container{
        grid-template-columns:33.3% 33.3% 33.3%;
    }
}
@media (min-width: 900px) {
    .container{
        grid-template-columns:25% 25% 25% 25%;
    }
}


@media (max-width: 440px) {
    .logo {
        width: 41px;
        height: 40px;
        left: 5px;
        top: 5px;
    }
    .headerdiv select#Category {
        display: block;
        width: 50%;
        
    }
    .headerdiv input {
        width: 80%;
        display: block;
        position: absolute;
        margin: 0 auto;
        left: 40px;
        padding-right: 20px;
    }
    .headerdiv button {
        position: absolute;
        right: 20px;
    }
    .ex p {
    
        margin-top: 60px;
    }

}
.details {
display: none; 
    background: linear-gradient(transparent, #0a0a0a9c);
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 2px;
    cursor: pointer;
    padding-left: 10px;
    transition: 0.3s;


}

.details h2{
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 35px;
}
.card:hover .details {
    display: block;
    

}
.details .author img {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 2px;
    left: 2px;
}
.details .author p {
    position: absolute;
    bottom: 5px;
    color: white;
    left: 37px;
    font-size: 17px;
}

.details .view {
    position: absolute;
    font-weight: bold;
    right: 5px;
    top: 5px;
    background: white;
    padding: 5px;
    border-radius: 5px;
}

.details span.fav {
    position: absolute;
    right: 7px;
    bottom: 5px;
    font-size: 1.5em !important;
    color: white;
}
footer {
    background: black;
    width: 100%;
}

.articlemore {
    padding: 10px;
    background: black;
    display: block;
    color: white;
    max-width: 110px;
    border-radius: 10px;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 10px;
    cursor: pointer;
}